.welcome-container {
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(darkslategray, lightslategray); */
    /* background: rgb(0, 0, 0, 85%); */
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slide-container {
    display: flex;
    justify-content: space-evenly;
    bottom: 3rem;
    left: 0;
    position: fixed;
    width: 100%;
}

.slide-btn {
    background: linear-gradient(135deg, #f34079 40%, #fc894d);
    color: #fff;
    font-family: sans-serif;
    border: 0;
    padding: 0.15rem 1.5rem;
    font-weight: bold;
    border-radius: 0.3rem;
    min-width: 6.5rem;
    min-height: 1.8rem;
    cursor: pointer;
    z-index: 1000;
}

.img-spidey {
    position: absolute;
    height: 25rem;
    top: 0;
    right: 0;
    z-index: 10;
}

.marvel-img {
    width: 100%;
    height: 100%;
}

.img-venom {
    left: 0;
    top: 10vh;
    height: 30rem;
    position: absolute;
    z-index: 10;
    opacity: 0.6;
}

.img-avengers {
    position: absolute;
    max-width: 65vw;
    max-height: 100vh;
}

.slide-btn:disabled {
    color: #962f50;
}

.welcome-content {
    margin: 1.5rem;
    position: absolute;
    z-index: 1000;
}

.welcome-title {
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.welcome-desc {
    font-size: large;
    margin: 1rem 0;
    font-weight: 500;
}

#skip-id {
    position: absolute;
    z-index: 1000;
    top: 3rem;
    right: 1.5rem;
}

@media screen and (orientation:portrait) {
    .img-avengers {
        display: none;
    }

    .phn-avengers {
        height: 100vh;
        width: 100vw;
        opacity: 0.6;
    }

    .img-venom {
        left: 0;
        bottom: 0;
        top: 55vh;
        height: 35vh;
        position: absolute;
        z-index: 10;
        opacity: 0.6;
    }

}

@media screen and (orientation:landscape) {
    .phn-avengers {
        display: none;
    }
}